.overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(
    to right,
    #ffffff88,
    #ffffff88 calc(100% / 12),
    #ffffff44 calc(100% / 12),
    #ffffff44 calc(100% / 12 * 2)
  );
}

.overlay.is-active {
  display: block;
}

.togglebtn {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 20px;
}