body {
  display: flex;
  flex-direction: column;

  height: 100vh;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.columns {
  flex: 1;

  display: flex;
  background: pink;
}

.columns__item {
  flex: 1 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.columns__item:nth-child(odd) {
  background: lemonchiffon;
}

